@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
    
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: black;
}

.wrap-login {
    width: 390px;
    background-color: rgba(48, 19, 19, 0.685);
    border-radius: 10px;
    overflow: hidden;
    padding: 50px 55px 33px 55px;

    box-shadow: 10px 10px 200px rgb(255, 0, 0);
}

.login-form {
    width: 100%;
}

.login-form-tittle {
    display: block;
    font-size: 30px;
    color: azure;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Permanent Marker', cursive;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
    
}

.input {
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    border: none;
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    padding: 0 5px;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    pointer-events: none;
    color: #adadad;


}

.focus-input::before {
    content: "";

    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    /*FAZER TRANSIÇÃO (MOVER A O PLACEHOLDER PARA CIMA)*/
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;

    background: -webkit-linear-gradient(to left, #b52ae0, #151261);
    background: -o-linear-gradient(to left, #b52ae0, #151261);
    background: -moz-linear-gradient(to left, #b52ae0, #151261);
    background: linear-gradient(to left, #b52ae0, #151261);             


   
}

.focus-input::after {
    font-size: 15px;
    color: #999999;
    line-height: 1.2;
    content: attr(data-placeholder);

    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

input:focus {
    outline: 0;
}

/*FAZER O PLACEHOLDER SUBIR AO CLICAR NO INPUT*/
.input:focus + .focus-input::after {
    top: -15px;
}

.input:focus + .focus-input::before {
    width: 100%;
}


.has-val + .focus-input::after {
    top: -15px;
}

.has-val + .focus-input::before {
    width: 100%;
}


.container-login-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;

}


.login-form-btn {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;

    line-height: 1.2;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    background-color: #362727;
    font-size: 14px;
    color: #adadad;
    line-height: 1.5;
    text-decoration: none;
    padding-right: 5px;
}

.login-form-btn:hover {
    cursor: pointer;
    background-color: rgba(17, 17, 17, 0.315);
    transition: 1s;
    box-shadow: 10px 10px 50px rgb(0, 0, 0);

}


.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.txt1 {
    font-size: 14px;
    color: #adadad;
    line-height: 1.5;
    text-decoration: none;
    padding-right: 5px;
}

.txt2 {
    font-size: 14px;
    color: #6a7dfe;
    line-height: 1.5;
    text-decoration: none;
}




